{% load static %}
<!DOCTYPE html>
<htm>
<head>
    <meta charset="UTF-8">
    <title>{{ movie.name }}</title>
    <style>
        @font-face {
                font-family: 'IRANSans';
                src: url("../../static/ticketing/fonts/iransans/woff/IRANSansWeb.woff") format('woff');
        }
        body{

            font-family: 'IRANSans';
        }

    </style>
</head>
<body>
<meta charset="UTF-8">
<title>{{ cinema.name }}</title>
<link rel="stylesheet" type="text/css" href="{% static "ticketing/css/bootstrap.rtl.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "ticketing/css/bootstrap-grid.rtl.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "ticketing/css/fontawesome.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "ticketing/css/all.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "ticketing/css/main.css" %}">
</head>
<body dir="rtl" style="font-family: 'IRANSans'">
    <div class="container" id="container">
         <div class="row align-items-center" id="header">
            <div class="col text-center">
                <h2>سامانه فروش بلیط سینما</h2>
            </div>
        </div>

        <div class="row align-items-center" id="toolbar">
            <div class="col-6 ">
                <h4>{{ cinema.name }}</h4>
            </div>
                </a>
                <a class="button-fix btn btn-light py-1 px-2" href="{% url 'ticketing_app:movie_list' %}">
                   <i class="fa fa-building" aria-hidden="true"></i>
                    فیلم ها
                </a>
            </div>

        <div class="row">
            <div class="col py-3">
                <p>شهر :
                    {{ cinema.city }}
                 </p>
                <p> ظرفیت سینما : {{ cinema.capacity }}</p>
                <p>کد سینما : {{ cinema.cinema_code }}</p>
                {% if cinema.poster %}
                    <img src="{{ cinema.poster.url }}" alt="{{cinema.name}}"
                {% else %}
                    <p style="color: red;">عکسی از سینما موجود نیست</p>
                {% endif %}
            </div>
        </div>
    </div>

</body>
</html>