{% extends "ticketing/base_page.html" %}
    {% block title %}
    فیلم  ها
    {% endblock %}
    {% block toolbar_title%}
    سامانه فروش بلیط سینما
    {% endblock %}
    {% block toolbar_button %}
    <a class="button-fix btn btn-light py-1 px-2" href="{% url 'ticketing_app:movie_list' %}">
      <i class="fa fa-film" aria-hidden="true"></i>
         فیلم ها
    </a>
    <a class="button-fix btn btn-light py-1 px-2" href="{% url 'ticketing_app:cinema_list' %}">
      <i class="fa fa-building" aria-hidden="true"></i>
      سینما ها
    </a>
    {% endblock %}
    {% block main_content %}
        <div class="row">
            <div class="col py-3">
                {% if movie_list %}
                    <p class="alert-fix alert alert-success ">تعداد {{ movie_count }} فیلم موجود است.</p>
                    <ul class="list-group" id="list-show">
                        {% for movie in movie_list %}
                           <a href="{% url "ticketing_app:movie_datails" movie_id=movie.pk %}">
                                 <li class="list-group-item list-group-item-action list-group-item-dark">
                                     <i class="fa fa-film" aria-hidden="true"></i>
                                    {{ movie }}
                                    <small class="text-muted">
                                        ({{ movie.director }})
                                    </small>
                                </li>
                           </a>
                        {% endfor %}
                    </ul>
                {% else%}
                     <p class="alert alert-danger">فیلمی وجود ندارد</p>
                {% endif %}
            </div>
        </div>
    {% endblock %}
